################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

*.vsidx
hackerrank/.vs/Hackerrank/FileContentIndex/2a896cef-3681-4ee5-9ca4-6dbb7ae4aaaf.vsidx
hackerrank/.vs/Hackerrank/FileContentIndex/633be770-d80b-4619-857a-f859435af2a2.vsidx
hackerrank/.vs/Hackerrank/FileContentIndex/69e1d6e6-0976-494e-9761-15f0e875319d.vsidx
hackerrank/.vs/Hackerrank/v17/.suo
hackerrank/.vs/Hackerrank/v17/Browse.VC.db
hackerrank/.vs/Hackerrank/v17/Browse.VC.db-shm
hackerrank/.vs/Hackerrank/v17/Browse.VC.db-wal
hackerrank/.vs/Hackerrank/v17/Browse.VC.opendb
hackerrank/.vs/Hackerrank/v17/ipch/AutoPCH/7603eee21300067f/OVERLOADOPERATORS.ipch
hackerrank/.vs/Hackerrank/v17/ipch/d7adf50b9f9f1b66.ipch
hackerrank/.vs/Hackerrank/v17/Solution.VC.db-shm
hackerrank/.vs/Hackerrank/v17/Solution.VC.db-wal
hackerrank/Boxit/x64/Debug/Boxit.ilk
hackerrank/Boxit/x64/Debug/Boxit.obj
hackerrank/Boxit/x64/Debug/vc143.idb
hackerrank/Boxit/x64/Debug/vc143.pdb
hackerrank/OverloadOperators/x64/Debug/Overload.c8af9897.tlog/CL.command.1.tlog
hackerrank/OverloadOperators/x64/Debug/Overload.c8af9897.tlog/Cl.items.tlog
hackerrank/OverloadOperators/x64/Debug/Overload.c8af9897.tlog/CL.read.1.tlog
hackerrank/OverloadOperators/x64/Debug/Overload.c8af9897.tlog/CL.write.1.tlog
hackerrank/OverloadOperators/x64/Debug/Overload.c8af9897.tlog/link.command.1.tlog
hackerrank/OverloadOperators/x64/Debug/Overload.c8af9897.tlog/link.read.1.tlog
hackerrank/OverloadOperators/x64/Debug/Overload.c8af9897.tlog/link.write.1.tlog
hackerrank/OverloadOperators/x64/Debug/Overload.c8af9897.tlog/OverloadOperators.lastbuildstate
hackerrank/OverloadOperators/x64/Debug/OverloadOperators.exe.recipe
hackerrank/OverloadOperators/x64/Debug/OverloadOperators.ilk
hackerrank/OverloadOperators/x64/Debug/OverloadOperators.log
hackerrank/OverloadOperators/x64/Debug/OverloadOperators.obj
hackerrank/OverloadOperators/x64/Debug/overloadoperators.obj.enc
hackerrank/OverloadOperators/x64/Debug/vc143.idb
hackerrank/OverloadOperators/x64/Debug/vc143.pdb
hackerrank/.vs/Hackerrank/FileContentIndex/2a896cef-3681-4ee5-9ca4-6dbb7ae4aaaf.vsidx
hackerrank/.vs/Hackerrank/FileContentIndex/633be770-d80b-4619-857a-f859435af2a2.vsidx
hackerrank/.vs/Hackerrank/FileContentIndex/69e1d6e6-0976-494e-9761-15f0e875319d.vsidx
hackerrank/.vs/Hackerrank/v17/.suo
hackerrank/x64/Debug/Boxit.exe
hackerrank/x64/Debug/Boxit.pdb
hackerrank/x64/Debug/OverloadOperators.exe
hackerrank/x64/Debug/OverloadOperators.pdb
hackerrank/.vs/Hackerrank/v17/.suo
hackerrank/.vs/Hackerrank/v17/Browse.VC.db
hackerrank/.vs/Hackerrank/v17/ipch/AutoPCH/44ee97fe7a0df489/EXCEPTIONS.ipch
hackerrank/.vs/Hackerrank/v17/ipch/AutoPCH/c7621c5c94335e89/OVERLOADOPERATORS.ipch
hackerrank/.vs/Hackerrank/v17/Solution.VC.db
hackerrank/exceptions/x64/Debug/exceptions.exe.recipe
hackerrank/exceptions/x64/Debug/exceptions.ilk
hackerrank/exceptions/x64/Debug/exceptions.log
hackerrank/exceptions/x64/Debug/exceptions.obj
hackerrank/exceptions/x64/Debug/exceptions.tlog/CL.command.1.tlog
hackerrank/exceptions/x64/Debug/exceptions.tlog/Cl.items.tlog
hackerrank/exceptions/x64/Debug/exceptions.tlog/CL.read.1.tlog
hackerrank/exceptions/x64/Debug/exceptions.tlog/CL.write.1.tlog
hackerrank/exceptions/x64/Debug/exceptions.tlog/exceptions.lastbuildstate
hackerrank/exceptions/x64/Debug/exceptions.tlog/link.command.1.tlog
hackerrank/exceptions/x64/Debug/exceptions.tlog/link.read.1.tlog
hackerrank/exceptions/x64/Debug/exceptions.tlog/link.write.1.tlog
hackerrank/exceptions/x64/Debug/vc143.idb
hackerrank/exceptions/x64/Debug/vc143.pdb
hackerrank/x64/Debug/exceptions.exe
hackerrank/x64/Debug/exceptions.pdb
hackerrank/classtemplates/x64/Debug/classtemplates.exe.recipe
hackerrank/classtemplates/x64/Debug/classtemplates.ilk
hackerrank/classtemplates/x64/Debug/classtemplates.log
hackerrank/classtemplates/x64/Debug/classtemplates.obj
hackerrank/classtemplates/x64/Debug/classtemplates.tlog/CL.command.1.tlog
hackerrank/classtemplates/x64/Debug/classtemplates.tlog/Cl.items.tlog
hackerrank/classtemplates/x64/Debug/classtemplates.tlog/CL.read.1.tlog
hackerrank/classtemplates/x64/Debug/classtemplates.tlog/CL.write.1.tlog
hackerrank/classtemplates/x64/Debug/classtemplates.tlog/classtemplates.lastbuildstate
hackerrank/classtemplates/x64/Debug/classtemplates.tlog/link.command.1.tlog
hackerrank/classtemplates/x64/Debug/classtemplates.tlog/link.read.1.tlog
hackerrank/classtemplates/x64/Debug/classtemplates.tlog/link.write.1.tlog
hackerrank/classtemplates/x64/Debug/vc143.idb
hackerrank/classtemplates/x64/Debug/vc143.pdb
hackerrank/Lower Bound-STL/x64/Debug/Lower Bound-STL.exe.recipe
hackerrank/Lower Bound-STL/x64/Debug/Lower Bound-STL.ilk
hackerrank/Lower Bound-STL/x64/Debug/Lower Bound-STL.log
hackerrank/Lower Bound-STL/x64/Debug/Lower Bound-STL.tlog/CL.command.1.tlog
hackerrank/Lower Bound-STL/x64/Debug/Lower Bound-STL.tlog/Cl.items.tlog
hackerrank/Lower Bound-STL/x64/Debug/Lower Bound-STL.tlog/link.command.1.tlog
hackerrank/Lower Bound-STL/x64/Debug/Lower Bound-STL.tlog/link.read.1.tlog
hackerrank/Lower Bound-STL/x64/Debug/Lower Bound-STL.tlog/link.write.1.tlog
hackerrank/Lower Bound-STL/x64/Debug/Lower Bound-STL.tlog/Lower Bound-STL.lastbuildstate
hackerrank/Lower Bound-STL/x64/Debug/Lower Bound-STL.tlog/unsuccessfulbuild
hackerrank/Lower Bound-STL/x64/Debug/vc143.idb
hackerrank/Lower Bound-STL/x64/Debug/vc143.pdb
hackerrank/maps-stl/x64/Debug/maps-stl.exe.recipe
hackerrank/maps-stl/x64/Debug/maps-stl.ilk
hackerrank/maps-stl/x64/Debug/maps-stl.log
hackerrank/maps-stl/x64/Debug/maps-stl.obj
hackerrank/maps-stl/x64/Debug/maps-stl.tlog/CL.command.1.tlog
hackerrank/maps-stl/x64/Debug/maps-stl.tlog/Cl.items.tlog
hackerrank/maps-stl/x64/Debug/maps-stl.tlog/CL.read.1.tlog
hackerrank/maps-stl/x64/Debug/maps-stl.tlog/CL.write.1.tlog
hackerrank/maps-stl/x64/Debug/maps-stl.tlog/link.command.1.tlog
hackerrank/maps-stl/x64/Debug/maps-stl.tlog/link.read.1.tlog
hackerrank/maps-stl/x64/Debug/maps-stl.tlog/link.write.1.tlog
hackerrank/maps-stl/x64/Debug/maps-stl.tlog/maps-stl.lastbuildstate
hackerrank/maps-stl/x64/Debug/vc143.idb
hackerrank/maps-stl/x64/Debug/vc143.pdb
hackerrank/RetangleArea/x64/Debug/RetangleArea.exe.recipe
hackerrank/RetangleArea/x64/Debug/RetangleArea.ilk
hackerrank/RetangleArea/x64/Debug/RetangleArea.log
hackerrank/RetangleArea/x64/Debug/RetangleArea.obj
hackerrank/RetangleArea/x64/Debug/RetangleArea.tlog/CL.command.1.tlog
hackerrank/RetangleArea/x64/Debug/RetangleArea.tlog/Cl.items.tlog
hackerrank/RetangleArea/x64/Debug/RetangleArea.tlog/CL.read.1.tlog
hackerrank/RetangleArea/x64/Debug/RetangleArea.tlog/CL.write.1.tlog
hackerrank/RetangleArea/x64/Debug/RetangleArea.tlog/link.command.1.tlog
hackerrank/RetangleArea/x64/Debug/RetangleArea.tlog/link.read.1.tlog
hackerrank/RetangleArea/x64/Debug/RetangleArea.tlog/link.write.1.tlog
hackerrank/RetangleArea/x64/Debug/RetangleArea.tlog/RetangleArea.lastbuildstate
hackerrank/RetangleArea/x64/Debug/vc143.idb
hackerrank/RetangleArea/x64/Debug/vc143.pdb
hackerrank/x64/Debug/classtemplates.exe
hackerrank/x64/Debug/classtemplates.pdb
hackerrank/x64/Debug/Lower Bound-STL.exe
hackerrank/x64/Debug/Lower Bound-STL.pdb
hackerrank/x64/Debug/maps-stl.exe
hackerrank/x64/Debug/maps-stl.pdb
hackerrank/x64/Debug/RetangleArea.exe
hackerrank/x64/Debug/RetangleArea.pdb
